<div class="col-xs-12 cos-sm-7 col-md-7">

<p id="notice"><%= notice %></p>

<div class="field">
  <%= @user.email %>
</div>

<div class="field">
  <%= image_tag @user.user_avatar(:medium), { :class => "img-responsive" } %>
</div>
